<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>App</title>
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="static/fa/css/all.min.css">
  <script src="static/v/vue.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="theme_boot">
<!-- Custom pages used by components -->
<div id="custom-pages" class="pages">
  <!--
    ======================================================================
    == charts
    ======================================================================
  -->
  <app-page id="data-chart" title="Data Chart">
    <template slot="bar-right">
      <button v-if="paths.length > 0" v-on:click="cleanMultiHistoricalData" title="Clean stack"><i class="fas fa-eraser"></i></button>
      <button v-on:click="pushMultiHistoricalData" :title="'Add to stack (' + paths.length + ')'"><i class="fas fa-plus"></i></button>
      <button v-on:click="reloadHistoricalData" title="Refresh"><i class="fas fa-sync"></i></button>
    </template>
    <article class="content">
      <div style="text-align: center;">
        <select v-model="path" v-on:change="openPath">
          <option value="" disabled selected>(Choose something)</option>
          <optgroup  v-for="thing in things" :label="thing.title" v-if="thing.archiveData">
            <option v-for="(property, name) in thing.properties" :value="thing.thingId + '/' + name">{{ property.title }}</option>
          </optgroup>
        </select>
        <span>Duration:</span>
        <select v-model="duration" v-on:change="reloadHistoricalData">
          <option value="7200">2 hours</option>
          <option value="21600">6 hours</option>
          <option value="43200">12 hours</option>
          <option value="64800">18 hours</option>
          <option value="86400">One day</option>
          <option value="172800">2 days</option>
          <option value="259200">3 days</option>
          <option value="604800">7 days</option>
          <option value="1209600">2 weeks</option>
          <option value="2419200">4 weeks</option>
          <option value="5443200">2 months</option>
          <option value="15768000">6 months</option>
          <option value="31536000">1 year</option>
          <option value="63072000">2 years</option>
          <option value="315360000">10 years</option>
        </select>
        <span>Period:</span>
        <select v-model="period" v-on:change="reloadHistoricalData">
          <option value="0">Auto</option>
          <option value="60">1 min</option>
          <option value="180">3 min</option>
          <option value="600">10 min</option>
          <option value="1800">30 min</option>
          <option value="3600">1 hour</option>
          <option value="7200">2 hours</option>
          <option value="21600">6 hours</option>
          <option value="86400">24 hours</option>
        </select>
        <span>To:</span>
        <select v-model="toDays" v-on:change="reloadHistoricalData">
          <option value="0">Now</option>
          <option value="1">1 day ago</option>
          <option value="2">2 days ago</option>
          <option value="7">1 week ago</option>
          <option value="14">2 weeks ago</option>
          <option value="21">3 weeks ago</option>
          <option value="28">4 weeks ago</option>
          <option value="60">2 months ago</option>
          <option value="180">6 months ago</option>
          <option value="365">1 year ago</option>
        </select>
        <!--
          <select v-model="chartType">
            <option value="line">Lines</option>
            <option value="bar">Bars</option>
          </select>
        -->
        <select v-model="chartBeginAtZero" v-on:change="reloadHistoricalData">
          <option value="false">Centered</option>
          <option value="true">Zero based</option>
        </select>
        <!--
          <span>Tension:</span>
          <select v-model="chartTension">
            <option value="0">None</option>
            <option value="0.1">Low</option>
            <option value="0.4">High</option>
          </select>
        -->
      </div>
      <div style="position: relative; height:40vh; width:80vw">
        <!-- style="height: 320px; " style="position: relative; "  height="400" -->
        <canvas id="chart-data-view-canvas"></canvas>
      </div>
    </article>
  </app-page>
  <!--
    ======================================================================
    == things
    ======================================================================
  -->
  <app-page id="things" title="Things">
    <template slot="bar-right">
      <button v-on:click="onShow" title="Refresh"><i class="fas fa-sync"></i></button>
      <button v-on:click="onSave" title="Save"><i class="far fa-save"></i></button>
      <button v-on:click="app.toPage('addThings')"><i class="fa fa-plus"></i></button>
    </template>
    <article class="cards">
      <div class="card" v-for="thing in things">
        <div class="bar">
          <div>
            <p>{{ thing.title + (thing.extensionId in extensionsById ? (' (' + extensionsById[thing.extensionId].name + ')') : '') }}</p>
          </div>
          <div>
            <button v-on:click="app.toPage('thing', thing.thingId)"><i class="fas fa-info"></i>&nbsp;Details</button>
          </div>
        </div>
        <p>{{ thing.description }}</p>
        <div class="bar">
          <div>
            <p><label class="switch"><input type="checkbox" v-model="thing.archiveData" /><span class="slider"></span></label>&nbsp;Archive Data</p>
          </div>
          <div>
            <p>{{ (thing.thingId in propertiesById ? (propertiesById[thing.thingId].value + ' ' + propertiesById[thing.thingId].unit) : '') }}</p>
          </div>
        </div>
      </div>
      <section>
        <!-- fas fa-history fas fa-database -->
        <button v-on:click="onArchiveAll()"><i class="fas fa-history"></i>&nbsp;Archive All</button>
        <button v-on:click="onRemoveAll()"><i class="fa fa-trash"></i>&nbsp;Disable All</button>
      </section>
    </article>
  </app-page>
  <app-page id="thing" title="Thing">
    <template slot="bar-right">
      <button v-if="edit" v-on:click="onSave()" title="Save"><i class="far fa-save"></i></button>
      <button v-on:click="onShow()" title="Refresh"><i class="fas fa-sync"></i></button>
      <button v-on:click="disableThing()" title="Disable"><i class="fa fa-trash"></i></button>
      <button v-on:click="onEdit()" title="Edit"><i :class="['fas', edit ? 'fa-eye' : 'fa-edit']"></i></button>
    </template>
    <article class="cards">
      <div class="card">
        <p>{{ thing.title }}</p>
        <p>{{ thing.description }}</p>
      </div>
      <div class="card" v-for="(property, name) in thing.properties">
        <div class="bar">
          <p>{{ property.title }}</p>
          <div>
            <div v-if="!edit || property.readOnly">
              <p v-if="name in properties"><b>{{ properties[name] }}</b>&nbsp;<span><i>{{ property.unit }}</i></span></p>
              <p v-else><i>No value</i></p>
            </div>
            <div v-else>
              <input v-if="property.type === 'string'" v-model="props[name]" type="text" placeholder="String Value">
              <input v-if="(property.type === 'number') || (property.type === 'integer')" v-model="props[name]" number type="number" placeholder="Number Value">
              <label v-if="property.type === 'boolean'" class="switch"><input type="checkbox" v-model="props[name]" /><span class="slider"></span></label>
            </div>
          </div>
          <div>
            <button v-if="property.type !== 'string'" v-on:click="openHistoricalData(name)"><i class="fas fa-chart-line"></i>&nbsp;History</button>
          </div>
        </div>
        <p>{{ property.description }}</p>
      </div>
    </article>
  </app-page>
  <app-page id="addThings" title="Add Things">
    <template slot="bar-right">
      <button v-on:click="onShow()" title="Refresh"><i class="fas fa-sync"></i></button>
      <button v-on:click="onSave()" title="Save"><i class="far fa-save"></i></button>
    </template>
    <article class="cards">
      <div class="card" v-for="thing in things">
        <div class="bar">
          <p>{{ thing.title }}</p>
          <label class="switch" title="Enable"><input type="checkbox" v-model="thing.toAdd" /><span class="slider"></span></label>
        </div>
        <p>{{ thing.description }}</p>
      </div>
      <section>
        <button v-on:click="onAddAll()"><i class="fa fa-plus"></i>&nbsp;Enable All</button>
      </section>
    </article>
  </app-page>
  <!--
    ======================================================================
    == extensions
    ======================================================================
  -->
  <app-page id="extensions" title="Extensions">
    <template slot="bar-right">
      <button v-on:click="onShow()" title="Refresh"><i class="fas fa-sync"></i></button>
      <button v-on:click="app.toPage('addExtensions')" title="Add"><i class="fa fa-plus"></i></button>
    </template>
    <article class="cards">
      <div class="card" v-for="extension in extensions" v-if="extension.active">
        <div class="bar">
          <p>{{ extension.name }}</p>
          <div>
            <button v-on:click="pollExtension(extension)"><i class="far fa-bell"></i>&nbsp;Poll</button>
            <button v-on:click="app.toPage('extension', extension.id)"><i class="fas fa-info"></i>&nbsp;Details</button>
          </div>
        </div>
        <p>{{ extension.description }}</p>
      </div>
    </article>
  </app-page>
  <app-page id="extension" title="Extension">
    <template slot="bar-right">
      <button v-on:click="onShow()" title="Refresh"><i class="fas fa-sync"></i></button>
      <!-- fa fa-minus -->
      <button v-on:click="onDisable" title="Disable"><i class="fa fa-trash"></i></button>
      <button v-on:click="onReload" title="Reload"><i class="fas fa-redo"></i></button>
      <button v-on:click="onSave" title="Save"><i class="far fa-save"></i></button>
    </template>
    <page-article>
      <p>{{ extension.info.name }}</p>
      <p>{{ extension.info.description }}</p>
      <json v-if="extension.manifest.schema" :name="'Configuration'" :obj="extension.config" :schema="extension.manifest.schema"></json>
    </page-article>
  </app-page>
  <app-page id="addExtensions" title="Add Extensions">
    <template slot="bar-right">
      <button v-on:click="onSave" title="Save"><i class="far fa-save"></i></button>
    </template>
    <article class="cards">
      <div class="card" v-for="extension in extensions" v-if="! extension.active">
        <div class="bar">
          <p>{{ extension.name }}</p>
          <div>
            <button v-on:click="extension.active = true"><i class="fa fa-plus"></i>&nbsp;Add</button>
          </div>
        </div>
        <p>{{ extension.description }}</p>
      </div>
    </article>
  </app-page>
  <!--
    ======================================================================
    == Settings
    ======================================================================
  -->
  <app-settings id="settings" title="Settings">
    <page-article>
      <p>Information:</p>
      <dl>
        <dt><label>CPU Time</label></dt><dd><span v-html="clock">na</span></dd>
        <dt><label>Memory size</label></dt><dd><span v-html="memory">na</span></dd>
        <dt><label>Server Time</label></dt><dd><span v-html="time">na</span></dd>
      </dl>
      <!--
      <button v-on:click="toaster.toast('Message')"><i class="far fa-bell"></i>&nbsp;Toast</button>
      -->
      <button v-on:click="refreshInfo()"><i class="fas fa-sync"></i>&nbsp;Refresh</button>
      <button v-on:click="gc()"><i class="fa fa-trash"></i>&nbsp;Collect Garbage</button>
      <button v-on:click="pollThings()"><i class="far fa-bell"></i>&nbsp;Poll Things</button>
      <button v-on:click="clearCache()"><i class="fa fa-trash"></i>&nbsp;Clear Cache</button>
      <button v-on:click="app.toPage('engineConfig')"><i class="fas fa-sliders-h"></i>&nbsp;Configuration</button>
      <button v-on:click="app.toPage('moreSettings')"><i class="fas fa-tools"></i>&nbsp;More...</button>
    </page-article>
  </app-settings>
  <app-page id="engineConfig" title="Engine Configuration">
    <template slot="bar-right">
      <button v-on:click="onShow()" title="Refresh"><i class="fas fa-sync"></i></button>
      <button v-on:click="onSave()" title="Save"><i class="far fa-save"></i></button>
    </template>
    <page-article>
      <json :name="'Configuration'" :obj="config" :schema="schema"></json>
    </page-article>
  </app-page>
  <app-page id="moreSettings" title="More Settings">
    <page-article>
      <p>Settings</p>
      <button v-on:click="saveConfig"><i class="far fa-save"></i>&nbsp;Save Configuration</button>
      <button v-on:click="stopServer"><i class="fas fa-power-off"></i>&nbsp;Stop the Server</button>
      <p>Advanced</p>
      <button v-on:click="reloadExtensions"><i class="fas fa-redo"></i>&nbsp;Reload the Extensions</button>
      <button v-on:click="reloadScripts"><i class="fas fa-redo"></i>&nbsp;Reload the Scripts</button>
      <!--
      <p>Beyond</p>
      <button v-on:click="restartServer"><i class="fas fa-redo"></i>&nbsp;Restart the Server</button>
      <button v-on:click="selectFile"><i class="fas fa-upload"></i>&nbsp;Upgrade the Server</button>
      <input v-on:change="uploadFile" type="file" accept=".zip" ref="uploadInput" style="display: none;" />
      -->
    </page-article>
  </app-page>
  <app-settings id="confirmation" title="Confirm">
    <page-article>
      <p>{{ message }}</p>
      <button v-on:click="onConfirm()"><i class="fas fa-check"></i>&nbsp;Confirm</button>
      <button v-on:click="onCancel()"><i class="fas fa-times"></i>&nbsp;Cancel</button>
    </page-article>
  </app-settings>
  <!--
    ======================================================================
    == Menu
    ======================================================================
  -->
  <app-menu id="menu" title="Menu">
    <article class="content">
      <ul>
        <li v-for="page in pages" v-on:click="app.toPage(page.id)">{{ page.name }}</li>
      </ul>
    </article>
  </app-menu>
  <app-root-page id="main" title="Welcome">
    <article class="tiles">
      <div class="tile" v-for="page in pages" v-on:click="app.toPage(page.id)"><span>{{ page.name }}</span></div>
    </article>
  </app-root-page>
</div>
<!-- Simple pages loaded automatically -->
<div id="pages" class="pages">
  <app-page id="first" title="First">
    <page-article>
      <p>First content</p>
    </page-article>
  </app-page>
</div>
<div id="app"></div>
<!-- v-if="show" class="toaster" -->
<div id="toaster" :class="['toaster', show ? '' : 'hide']">{{message}}</div>
<div class="splash">
  Loading...
  <!--
    <i class="fas fa-spinner fa-spin"></i>
  -->
</div>
</body>
<script src="static/moment.js" type="text/javascript"></script>
<script src="static/chart/Chart.min.js"></script>
<script src="static/amdimpl.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
//<!--
  if (navigator.userAgent.indexOf('Edge') >= 0) {
    console.log('Edge detected');
    var rawFetch = fetch;
    fetch = function(input, init) {
      if (init === undefined) {
        init = {};
      }
      if (typeof init === 'object') {
        if (!init.credentials) {
          init.credentials = 'include';
        }
      }
      return rawFetch(input, init);
    };
  }
//-->
</script>
<script src="app/utils.js" type="text/javascript" charset="utf-8"></script>
<script src="app/main.js" type="text/javascript" charset="utf-8"></script>
<script src="app/charts.js" type="text/javascript" charset="utf-8"></script>
<script src="app/extensions.js" type="text/javascript" charset="utf-8"></script>
<script src="app/things.js" type="text/javascript" charset="utf-8"></script>
<!-- blockly for web_script extension -->
<script src="static/blockly/blockly_compressed.js"></script>
<script src="static/blockly/blocks_compressed.js"></script>
<script src="static/blockly/javascript_compressed.js"></script>
<script src="static/blockly/lua_compressed.js"></script>
<script src="static/blockly/msg/js/en.js"></script>
<!-- ace for web_editor extension -->
<script src="static/ace/ace.js" type="text/javascript"></script>
</html>